/inheritance.class
/Person.class
/Employee.class
/Professor.class
/Student.class
/LMSTest.class
/HRSTest.class
/Consultant.class
/Salesman.class
/Director.class
/Manager.class
/Employee1.class
/Messenger.class
